.example {font-style: italic; color: red; }

section.section1 {background-color: #FFFFCC; visibility: hidden; position: fixed; width: 600px} 

section.section2 {background-color: #FFFFCC; visibility: hidden; position: fixed; width: 600px}

section.section3 {background-color: #FFFFCC; visibility: hidden; position: fixed; width: 600px}